
<h2>Add a new spot to your list!</h2>

<form action="/auth/add-spot" method="post" id="form-container">
  <label for="place-input">Place:</label>
  <input id="place-input" type="text" name="name" placeholder="Biarritz, la grande plage">

  <br><br>

  <br><br>

  <button type = "submit">Add</button>

</form>