
<h2>Add a new spot to your list!</h2>

<form action="/auth/newSpot" method="post" id="form-container">
  <label for="place-input">Place:</label>
  <input id="place-input" type="text" name="spot" placeholder="Biarritz, la grande plage">

  <br><br>

  <br><br>

  <button>Add</button>

</form>