
<div class="text-center" id="signup">


<h2 class="signup">Hello, I am your friends</h2>
<p>{{user.username}}</p>
  <form action="/auth/myFriends" method="post">
        <div class="form-group">
          <label for="name">Search</label>
          <br><br>
          <input type="text" name="name" class="btn btn-submit"  id="submit-address">
          <br><br>
          <button type="submit">Search</button>
        </div>
  </form>
{{#each user.friends}}
<p><img class = "prof-photo"src={{photo}}> <a href="/auth/profile/{{_id}}">{{username}}</a> </p>
{{/each}}

<style>.prof-photo{width:10%}</style>



</div>