<div class="text-center" id="signup">


<h2 class="signup">Create new plan</h2> <hr>


<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/auth/new-plan" method="post" >
        <div class="form-group">
          <label for="place-input">Place</label>
          <br><br>
          <input type="text" name="place" class="btn btn-submit"  id="submit-address">
        </div>
        <div class="form-group">
          <label for="date-input">When?</label>
          <br><br>
          <input type="date" name="date" class="btn btn-submit"  id="submit-address">
        </div>
        <div class="form-group">
          <label for="description-input">What is it about?</label>
          <br><br>
          <input type="textarea" name="description" class="btn btn-submit"  id="submit-address">
        </div>
        <button type="submit">Post</button>
      </form>
    </div>
  </div>
</div>

<a href="/auth/plans">Plans</a>

<h2>{{plan.place}}</h2>

</div>