{{!-- <div class="container">

  <div class="row align-items-center">

    <div class="col-8">
    <h1>{{user.username}}</h1>
    <a href="/auth/profile/{{user._id}}/planet" class = "btn btn-dark">Planet</a>
    </div>
    <div class="col"></div> --}}
    <style>body{background: url({{user.photo}});background-repeat: no-repeat; background-size:cover}img{width:100%}</style>
    
    {{!-- </div>  
    </div> --}}
{{!-- </div> --}}
  <div class="contFotos">
<div class="container justify-content-center">
  <div class="row fila-fotos align-items-center">
      {{#each user.posts}}
    <div class="col-3">
        <img  src="{{photo}}" alt="">
    </div>
      {{/each}}
      </div>
  </div>
</div>

