{{!-- <div class="container">

  <div class="row align-items-center">

    <div class="col-8">
    <h1>{{user.username}}</h1>
    <ul class="nav justify-space-between">
        <li class="nav-item">
             <a class="nav-link" id="planet-button" href="/auth/myPlanet"> Planet</a>
         </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/myFriends"> Friends</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/auth/new-post"> New post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/myPlans"> Plans</a>
        </li>
    </ul>
    </div>
    <div class="col"></div>
    </div>  
</div>
</div> --}}
   <style>#photo-saludo{width:10%}button{align-items:center;align-content:center}body{background: url({{user.photo}});background-repeat: no-repeat; background-size:cover}img{width:100%}.profile-img{width:30%}</style>
<button id ="profile-photos">
    <img src="../img/signo-de-shaka.png" alt="" id ="photo-saludo">
</button>
<div class="container justify-content-center">
  <div class="row fila-fotos align-items-center" id ="chaos">
      {{#each user.posts}}
    <div class="col-3 order-first">
        <img  src="{{photo}}" alt="">
    </div>
      {{/each}}
  </div>
</div>
{{!-- <style>body{background: url("/mar.jpg") no-repeat center / cover}</style> --}}
  <script src="/javascripts/profile.js"></script>
