<div class="container">

  <div class="row align-items-center">

    <div class="col-8">
    <h1>{{user.username}}</h1>
    <ul class="nav justify-space-between">
        <li class="nav-item">
             <a class="nav-link" id="planet-button" href="/auth/myPlanet"> Planet</a>
         </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/myFriends"> Friends</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/auth/new-post"> New post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/plans"> Plans</a>
        </li>
    </ul>
    </div>
    <div class="col"></div>
    <img class= "profile-img" src="{{user.photo}}" alt=""><style>img{width:100%; padding-top: 10px}.profile-img{width:30%}</style>
    </div>  
</div>
</div>
<div class="container">
  <div class="row">
      {{#each user.posts}}
    <div class="col-4 order-last">
        <img  src="{{photo}}" alt="">
    </div>
      {{/each}}
  </div>
</div>

{{!-- <style>body{background: url("/mar.jpg") no-repeat center / cover}</style> --}}